black==24.4.2
eth-account===0.13.0
eth-utils===4.1.1
kuest-eip712-structs==0.0.1
kuest-py-order-utils==0.3.2
pytest==8.2.2
python-dotenv==0.19.2
websockets==12.0
kuest-py-builder-signing-sdk==0.0.1
httpx[http2]==0.27.0
